{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<section class="hero">

<div class="container">

<h1>Contact Developer</h1>

<p>

For project collaboration, feedback or technical discussions.

</p>

</div>

</section>

<section class="container">

<div class="feature-card">

<i class="fa-solid fa-user" style="font-size:70px;color:#3B82F6;"></i>

<br><br>

<h2>Ram Sai Kumar</h2>

<br>

<p>

AI / Machine Learning Developer

</p>

<br>

<hr style="opacity:.2">

<br>

<p>

<i class="fa-solid fa-envelope"></i>

ramsaikatta516@gmail.com

</p>

<br>

<p>

<i class="fa-brands fa-linkedin"></i>

linkedin.com/in/yourprofile

</p>

<br>

<p>

<i class="fa-brands fa-github"></i>

https://github.com/KATTA-RAM-SAI-KUMAR

</p>

<br>

<p>

<i class="fa-solid fa-location-dot"></i>

India

</p>

</div>

</section>

<section class="container">

<div class="feature-card">

<h2>Need Help?</h2>

<br>

<p>

Feel free to reach out regarding research, AI projects,
machine learning development or project collaboration.

</p>

</div>

</section>

{% endblock %}